<!DOCTYPE html>

<html>
    <head>
        <title>{{ page.title }}</title>
    </head>

    <body>
        <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="www.github.com/Samboy218">Github</a></li>
            <li><a href="/download/Resume.pdf">Resume</a></li>
        </ul>
        </nav>

        <div class="container">
            {{ content }}
        </div>

        <footer>
        <ul>
            <li><a href="mailto:sam.wehunt@gmail.com">Contact</li>
        </ul>
        </footer>
    </body>
</html>
